<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/nav.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/mj.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "lib/materialize/css/materialize.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "lib/font-awesome-4.7.0/css/font-awesome.css"}}"/>
    {{ghost_head}}

</head>
<body class="{{body_class}}">

<div class="site-wrapper">
    {{{body}}}
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 mj-footer">
                本站由© 码酱 基于  ghost博客主题  采用 <span class="mj-theme">ghost-blog-theme</span> 主题搭建,© 2018 蜀ICP备18020377号  本站总访问量 22797 次
            </div>
        </div>
    </div>
</footer>
{{!-- jQuery, required for fitvids --}}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
{{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
<script src="{{asset "built/casper.js"}}"></script>
<script src="{{asset "lib/materialize/js/materialize.js"}}"></script>
<script src="{{asset "lib/jquery/jquery-3.1.1.min.js"}}"></script>
<script src="{{asset "lib/echarts/echarts.min.js"}}"></script>
<script src="{{asset "lib/echarts/echarts-wordcloud.min.js"}}"></script>
<script src="{{asset "lib/echarts/macarons.js"}}"></script>
<script src="{{asset "js/mj.js"}}"></script>

{{!-- Scripts for Members subscription --}}
<script>
    // Parse the URL parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Give the parameter a variable name
    var action = getParameterByName('action');

    $(document).ready(function () {
        if (action == 'subscribe') {
            $('body').addClass("subscribe-success");
        }

        $('.subscribe-success-message .subscribe-close').click(function () {
            $('.subscribe-success-message').addClass('close');
        });

        // Reset form on opening subscrion overlay
        $('.subscribe-button').click(function () {
            $('.subscribe-overlay form').removeClass();
            $('.subscribe-email').val('');
        });
    });
</script>

{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
