{{!< default}}
<link rel="stylesheet" type="text/css" href="{{asset "css/content.css"}}"/>
{{> "star-banner"}}
{{#post}}
<main class="">
    <div class="container start-bj">
        <div class="row mj-row row-top">
            <div class="col s12 m10">
                <div class=" title-card">
                    <div class="mj-container-flex card-base ">
                        <div class="mj-content-info">
                            <div class="mj-content-tag">
                                {{#foreach tags}}
                                <div class="mj-tag">
                                    <a href="{{url}}" target="_blank"><span class="">{{name}}</span></a>
                                </div>
                                {{/foreach}}


                            </div>
                            <div>
                                <span><i class="fa fa-calendar fa-fw"></i> {{date format="YYYY年MM月DD日"}}</span>
                            </div>
                        </div>
                        <div class="mj-content">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s2 m2">
                <div class="toc">
                    <div class="toc-title">目录</div>
                    <div class="toc-info"></div>
                </div>
            </div>
        </div>
    </div>
</main>
{{/post}}
